*/node_modules/**/*
*/build/*
*/.expo/*
*/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*/web-build/
*/web-report/
*.so
*.class
*.flat
*.dex
*Client/android/app/build/*
*Client/android/.idea
*Client/android/.gradle

# macOS
.DS_Store
